In [96]:
import json
import pandas as pd
import numpy as np
import schedule

df_covid = pd.read_csv("covid_track.csv")
df_covid = df_covid.set_index('id_number')

#df_covid.loc[int(cov_id),'covid'] = 'yes'
#add this to your classmate_email function

#function for /class_status
def class_status(id_number):
    classes_list = df_covid.loc[int(id_number), "classes"].split(",")
    df_covid['classmates'] = df_covid.apply(lambda row: 'True' if any([item in row['classes'] for item in classes_list]) else 'False', axis = 1)
    if df_covid[df_covid['classmates'].str.contains('True') & df_covid['covid'].str.contains('yes')].empty:
        return "no covid" #this should send the message that there is no covid in your classes
    else:
        return "covid" #this should send the message that there is

#clears covid status everyweek    
def clear_covid():
    df_covid['covid'] = 'no'

def weekly_message():
    message = '''It is the start of a new week! Aside from getting ready to go to school, please do make sure you are not feeling any symptoms of COVID.
    
    If you do feel any symptoms use the /ihavesymptoms command. We appreciate your help in fighting off this pandemic, and remember to always keep safe!
    '''
    return message

#weekly schedule thing
schedule.every().monday.at('8:00').do(clear_covid())
schedule.every().monday.at('8:00').do(weekly_message())

                      name                       obf_email   classes covid
id_number
201946     Gabrielle Sioco  gabrielle.sioco@obf.ateneo.edu  X7,Y3,E7    no
202869          Sabrina Sy       sabrina.sy@obf.ateneo.edu  B1,C1,J7    no
204995     Martine Uysipuo  martine.uysipuo@obf.ateneo.edu  C1,F4,I3    no
203897           Raelyn Go        raelyn.go@obf.ateneo.edu  F3,H8,J7    no
202114      Enrique Santos   enrique.santos@obf.ateneo.edu  U5,C6,F3    no
...                    ...                             ...       ...   ...
208067        Cruz Skinner     cruz.skinner@obf.ateneo.edu  V1,F3,J7    no
207596     Branden Gardner  branden.gardner@obf.ateneo.edu  D6,K7,R3    no
200943       Michelle Shah    michelle.shah@obf.ateneo.edu  B1,O2,N1    no
205497        Raquel Wyatt     raquel.wyatt@obf.ateneo.edu  D6,M6,V1    no
201740         Jobe Ilagan      jobe.ilagan@obf.ateneo.edu  A9,B1,Q2    no

[400 rows x 4 columns]

,id_number,name,obf_email,classes,covid
0,201946,Gabrielle Sioco,gabrielle.sioco@obf.ateneo.edu,"X7,Y3,E7",no
1,202869,Sabrina Sy,sabrina.sy@obf.ateneo.edu,"B1,C1,J7",no
2,204995,Martine Uysipuo,martine.uysipuo@obf.ateneo.edu,"C1,F4,I3",no
3,203897,Raelyn Go,raelyn.go@obf.ateneo.edu,"F3,H8,J7",no
4,202114,Enrique Santos,enrique.santos@obf.ateneo.edu,"U5,C6,F3",no
...,...,...,...,...,...
395,208067,Cruz Skinner,cruz.skinner@obf.ateneo.edu,"V1,F3,J7",no
396,207596,Branden Gardner,branden.gardner@obf.ateneo.edu,"D6,K7,R3",no
397,200943,Michelle Shah,michelle.shah@obf.ateneo.edu,"B1,O2,N1",no
398,205497,Raquel Wyatt,raquel.wyatt@obf.ateneo.edu,"D6,M6,V1",no
399,201740,Jobe Ilagan,jobe.ilagan@obf.ateneo.edu,"A9,B1,Q2",no